<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>A Comprehensive Analysis Of The IT Sector's Salaries And Roles</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

 </head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Project</a></li>
          <li><a class="nav-link scrollto" href="#services">Dashboard</a></li>
          <li><a class="nav-link   scrollto" href="#Stories">Stories</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>A Comprehensive Analysis Of The IT Sector's Salaries And Roles</h1>
          <h2>We have analyzed IT Sector Employees' Salaries and Roles and prepared a dashboard and stories out of it in Tableau.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="static/assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Project</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              The research, "A Comprehensive Analysis of the IT Sector's Salaries and Roles," is a thorough investigation of pay scales, employment patterns, and job functions in the Information Technology (IT) sector that is data-driven. This project entails gathering, evaluating, and presenting data from several sources to provide a thorough picture of the status of the IT industry with regard to employment trends and compensation.
            </p>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              The key objectives of this project include:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Salary Analysis</li>
              <li><i class="ri-check-double-line"></i> Role Exploration</li>
              <li><i class="ri-check-double-line"></i> Demographic Insights</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    
    <!-- ======= Tech Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="static/assets/img/skills.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Techstack Used</h3>
            <p class="fst-italic">
              The tech stack enables robust exploration and communication of insights within the project.
            </p>

            <div class="skills-content">

              <div class="progress">
                <span class="skill">HTML <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">CSS <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">JavaScript <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">tableau <i class="val">65%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Tech Section -->

    <!-- ======= DAshboard ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Dashboard</h2>

          
          <div class='tableauPlaceholder' id='viz1699368156223' style='position: relative'><noscript><a href='#'>
            <img alt='Dashboard ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DB&#47;DB_16993680936680&#47;Dashboard2&#47;1_rss.png' style='border: none' /></a>
            </noscript>
            <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
            <param name='name' value='DB_16993680936680&#47;Dashboard2' /><param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DB&#47;DB_16993680936680&#47;Dashboard2&#47;1.png' /> 
            <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' /><param name='language' value='en-US' />
            <param name='filter' value='publish=yes' /></object></div>                
            <script type='text/javascript'>                    
            var divElement = document.getElementById('viz1699368156223');                    
            var vizElement = divElement.getElementsByTagName('object')[0];                    
            if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
            else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
            else { vizElement.style.width='100%';vizElement.style.height='1777px';}                     
            var scriptElement = document.createElement('script');                    
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
          </script>

          <!-- Second Dashboard -->
          <div class='tableauPlaceholder' id='viz1699369019016' style='position: relative'>
            <noscript>
              <a href='#'><img alt='Dashboard 3 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FI&#47;FINALPROJECTS&#47;Dashboard3&#47;1_rss.png' style='border: none' /></a>
            </noscript>
            <object class='tableauViz'  style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
              <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
              <param name='name' value='FINALPROJECTS&#47;Dashboard3' />
              <param name='tabs' value='no' /><param name='toolbar' value='yes' />
              <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FI&#47;FINALPROJECTS&#47;Dashboard3&#47;1.png' /> 
              <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' /><param name='language' value='en-US' />
              <param name='filter' value='publish=yes' />
            </object>
          </div>                
          <script type='text/javascript'>                    
          var divElement = document.getElementById('viz1699369019016');                    
          var vizElement = divElement.getElementsByTagName('object')[0];                    
          if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1500px';vizElement.style.height='827px';} 
          else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1500px';vizElement.style.height='827px';} 
          else { vizElement.style.width='100%';vizElement.style.height='1827px';}                     
          var scriptElement = document.createElement('script');                    
          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
          vizElement.parentNode.insertBefore(scriptElement, vizElement);                
          </script>

        </div>

      </div>
    </section> <!-- ======= End Dashboard Section ======= -->

    <!-- ======= Heading Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 >A Comprehensive Analysis Of The IT Sector's Salaries And Roles</h3>
            
        </div>

      </div>
    </section><!-- End Heading Section -->

    <!-- ======= Stories Section ======= -->
    <section id="Stories" class="Stories">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Stories</h2>

          <!-- First Story -->
          <div class='tableauPlaceholder' id='viz1699377371567' style='position: relative'><noscript>
            <a href='#'><img alt='Analysis of IT Sector Story ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;Story_16993773479750&#47;Story1&#47;1_rss.png' style='border: none' />
            </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Story_16993773479750&#47;Story1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;Story_16993773479750&#47;Story1&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
            <param name='filter' value='publish=yes' />
            </object>
            </div>                
            <script type='text/javascript'>                    
            var divElement = document.getElementById('viz1699377371567');                    
            var vizElement = divElement.getElementsByTagName('object')[0];                    
            vizElement.style.width='1016px';vizElement.style.height='991px';                    
            var scriptElement = document.createElement('script');                    
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
          </script>

          <!-- Second Story -->
          <div class='tableauPlaceholder' id='viz1699373528237' style='position: relative'><noscript><a href='#'>
            <img alt='Story 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FI&#47;FINALPROJECTS&#47;Story1&#47;1_rss.png' style='border: none' />
          </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='FINALPROJECTS&#47;Story1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FI&#47;FINALPROJECTS&#47;Story1&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
            <param name='filter' value='publish=yes' />
          </object>
        </div>                
        <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1699373528237');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
          
        </div>

      </div>
    </section><!-- End Stories Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
        </div>

          <div class="container">
            <div class="row">
              <div class="col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="static/assets/img/team/Manav.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Manav Seth</h4>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""><i class="ri-linkedin-box-fill"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="col-lg-3" data-aos="zoom-in" data-aos-delay="200">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="static/assets/img/team/lavanya.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Lavanya Rai</h4>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""><i class="ri-linkedin-box-fill"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="col-lg-3" data-aos="zoom-in" data-aos-delay="300">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="static/assets/img/team/Vagisha.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Vagisha Vashistha</h4>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""><i class="ri-linkedin-box-fill"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="col-lg-3" data-aos="zoom-in" data-aos-delay="400">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="static/assets/img/team/Aradhya.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Aradhya Chaturvedi</h4>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""><i class="ri-linkedin-box-fill"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>

      </div>
    </section><!-- End Team Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer"> </footer>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>